.Output {
  height: 100dvh;
  gap: 5dvh;
  justify-content: flex-start !important;
  padding: 5dvh 0;

  .outputImgContainer {
    position: relative;
    width: 70vw;
    .frame {
      width: 100%;
      height: auto;
    }
    .capturedImage {
      width: 87%;
      height: 87%;
      position: absolute;
      top: 8%;
      left: 6%;
      z-index: -1;
    }
  }

  .footer {
    gap: 2dvh;
  }
}

@media print {
  .outputImgContainer {
    width: 100%; /* Full page width */
    height: auto; /* Adjust height dynamically */
    margin: 0;
    padding: 0;
    page-break-inside: avoid; /* Prevent splitting across pages */
    display: flex;
    justify-content: center; /* Center content */
    align-items: center;
  }

  .outputImgContainer img {
    width: 100%; /* Stretch images to full width */
    height: auto; /* Maintain aspect ratio */
  }

  @page {
    margin: 0; /* Remove page margins */
  }

  body {
    margin: 0; /* Ensure no margin on body */
  }
}
